.Loginpage{
  text-align: center;
}



.img-container{
  

  margin-bottom: 20px;

}

.title-container{
  color: purple;
  font-size: x-large;
}

.create-account{
  color: #007bff;
text-decoration: none;

}