.login-page {
    text-align: center;
    margin-top: 50px;
  }
  
  .illustration {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .create-account {
    color: #007bff;
    text-decoration: none;
  }
  
  .create-account:hover {
    text-decoration: underline;
  }

  .login-page.p{
    color: #800080;
    
  }